################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/VaultViewer/VaultViewer/obj
/.vs
/VaultViewer/.vs/VaultViewer
